### Milestone Action Items

Download the data set about[ Value of Energy Cost Saving Program for businesses in New York City](https://data.cityofnewyork.us/City-Government/Value-of-Energy-Cost-Savings-Program-Savings-for-B/bug8-9f3g) (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

1. How many different companies are represented in the data set?
2. What is the total number of jobs created for businesses in Queens?
3. How many different unique email domains names are there in the data set?
4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
5. Save your result for the previous question as a CSV file.

In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
#!ls 'drive/MyDrive/Colab Notebooks/TDI'

In [3]:
import pandas as pd

In [4]:
#vecsp_2020 = pd.read_csv('drive/MyDrive/Colab Notebooks/TDI/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
vecsp_2020 = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')

In [5]:
vecsp_2020.head()

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,...,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

In [6]:
vecsp_2020.dtypes

Company Name                                  object
company contact                               object
company email                                 object
company phone                                 object
Address                                       object
City                                          object
State                                         object
Postcode                                       int64
Industry                                      object
Industry descr                                object
Company Type                                  object
Current fulltime                             float64
Job created                                  float64
Job retain                                   float64
Effective Date                                object
Total Savings                                float64
Savings from beginning receiving benefits    float64
Borough                                       object
Latitude                                     float64
Longitude                                    float64
Community Board                              float64
Council District                             float64
Census Tract                                 float64
BIN                                          float64
BBL                                          float64
NTA                                           object
dtype: object

In [7]:
vecsp_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Company Name                               450 non-null    object
 1   company contact                            450 non-null    object
 2   company email                              433 non-null    object
 3   company phone                              450 non-null    object
 4   Address                                    450 non-null    object
 5   City                                       450 non-null    object
 6   State                                      450 non-null    object
 7   Postcode                                   450 non-null    int64
 8   Industry                                   450 non-null    object
 9   Industry descr                             434 non-null    object
 10  Company Type                               450 non-null    object
 11  Current fulltime                           446 non-null    float64
 12  Job created                                11 non-null     float64
 13  Job retain                                 14 non-null     float64
 14  Effective Date                             450 non-null    object
 15  Total Savings                              450 non-null    float64
 16  Savings from beginning receiving benefits  450 non-null    float64
 17  Borough                                    450 non-null    object
 18  Latitude                                   409 non-null    float64
 19  Longitude                                  409 non-null    float64
 20  Community Board                            409 non-null    float64
 21  Council District                           409 non-null    float64
 22  Census Tract                               409 non-null    float64
 23  BIN                                        401 non-null    float64
 24  BBL                                        401 non-null    float64
 25  NTA                                        409 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 91.5+ KB

In [8]:
vecsp_2020.isnull().any()

Company Name                                 False
company contact                              False
company email                                 True
company phone                                False
Address                                      False
City                                         False
State                                        False
Postcode                                     False
Industry                                     False
Industry descr                                True
Company Type                                 False
Current fulltime                              True
Job created                                   True
Job retain                                    True
Effective Date                               False
Total Savings                                False
Savings from beginning receiving benefits    False
Borough                                      False
Latitude                                      True
Longitude                                     True
Community Board                               True
Council District                              True
Census Tract                                  True
BIN                                           True
BBL                                           True
NTA                                           True
dtype: bool

In [9]:
vecsp_2020.describe()

,Postcode,Current fulltime,Job created,Job retain,Total Savings,Savings from beginning receiving benefits,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,450.000000,446.000000,11.000000,14.000000,4.500000e+02,4.500000e+02,409.000000,409.000000,409.000000,409.000000,409.000000,4.010000e+02,4.010000e+02
mean,11024.124444,124.186099,13.545455,297.500000,3.943778e+04,4.234601e+05,40.722293,-73.942376,317.982885,27.823961,2049.080685,3.295894e+06,3.163398e+09
std,405.126704,392.750810,16.409532,778.404655,1.345949e+05,1.936066e+06,0.057503,0.065553,93.925749,10.984316,7784.674799,9.897776e+05,9.483943e+08
min,10001.000000,0.000000,2.000000,4.000000,-1.099101e+05,0.000000e+00,40.555080,-74.216206,101.000000,1.000000,1.000000,1.000811e+06,1.000220e+09
25%,11101.000000,11.000000,4.000000,15.500000,1.770947e+03,1.498420e+04,40.676351,-73.984843,301.000000,26.000000,20.000000,3.009889e+06,3.006320e+09
50%,11205.000000,28.000000,10.000000,42.000000,6.101215e+03,5.431184e+04,40.721144,-73.941706,307.000000,30.000000,199.000000,3.336903e+06,3.036760e+09
75%,11232.000000,76.000000,13.500000,160.750000,2.025603e+04,2.003667e+05,40.752096,-73.909345,402.000000,36.000000,543.000000,4.005076e+06,4.003930e+09
max,11693.000000,3878.000000,60.000000,2964.000000,1.568982e+06,3.351826e+07,40.890837,-73.743730,503.000000,51.000000,94201.000000,5.168823e+06,5.070670e+09

#### How many different companies are represented in the data set?

In [10]:
print(vecsp_2020['Company Name'].count())
print(vecsp_2020['Company Name'].nunique())

450
439

#### What is the total number of jobs created for businesses in Queens?

In [11]:
vecsp_2020.loc[(vecsp_2020['Borough']=="Queens") | (vecsp_2020['Borough']=="Qn"), "Job created"].sum()

102.0

#### How many different unique email domains names are there in the data set?

In [12]:
vecsp_2020['company email'].str.split('@').str.get(1).nunique()

356

#### Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [13]:
NTAs = vecsp_2020.groupby(['NTA']).filter(lambda x: x['Company Name'].count()>4).groupby(['NTA']).aggregate({'Company Name':['count'], 'Total Savings':['mean'], 'Job created':['sum']})
print(NTAs)

                                                 Company Name  Total Savings  \
                                                        count           mean
NTA
Battery Park City-Lower Manhattan                           9  469890.796667
Bushwick South                                             10   26140.455000
Carroll Gardens-Columbia Street-Red Hook                   11   24337.390000
College Point                                               7   17159.372857
Crown Heights North                                         9    4036.298889
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill           10   59950.340000
East New York                                               9   48433.093333
East Williamsburg                                          11   13990.626364
Greenpoint                                                 14    9753.649286
Hunters Point-Sunnyside-West Maspeth                       75   23931.398933
Hunts Point                                                13   39246.016154
Manhattanville                                              9    2760.888889
Maspeth                                                     9    6658.283333
Mott Haven-Port Morris                                     14   17843.937857
Queensbridge-Ravenswood-Long Island City                   16   61830.770625
SoHo-TriBeCa-Civic Center-Little Italy                      5   37214.024000
Springfield Gardens South-Brookville                        5   17757.662000
Steinway                                                    7   11227.155714
Sunset Park West                                           48   14316.976875
park-cemetery-etc-Brooklyn                                 15   14327.419333

                                                 Job created
                                                         sum
NTA
Battery Park City-Lower Manhattan                        0.0
Bushwick South                                          10.0
Carroll Gardens-Columbia Street-Red Hook                 0.0
College Point                                            2.0
Crown Heights North                                      0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill         0.0
East New York                                           15.0
East Williamsburg                                        0.0
Greenpoint                                               0.0
Hunters Point-Sunnyside-West Maspeth                     0.0
Hunts Point                                             12.0
Manhattanville                                           0.0
Maspeth                                                 10.0
Mott Haven-Port Morris                                  10.0
Queensbridge-Ravenswood-Long Island City                 0.0
SoHo-TriBeCa-Civic Center-Little Italy                   0.0
Springfield Gardens South-Brookville                     0.0
Steinway                                                20.0
Sunset Park West                                         0.0
park-cemetery-etc-Brooklyn                               0.0

#### Save your result for the previous question as a CSV file.

In [14]:
NTAs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Battery Park City-Lower Manhattan to park-cemetery-etc-Brooklyn
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Company Name, count)  20 non-null     int64
 1   (Total Savings, mean)  20 non-null     float64
 2   (Job created, sum)     20 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 640.0+ bytes

In [16]:
NTAs.to_csv('NTAs_AvgSaving_TotalJobs.csv')